.addCont{
    width: 600px;
    text-align: center;
    background-color: aliceblue;
    margin: 0 auto;
    
}
.input {
    background:none;  
    outline:none;  
    color: teal;
}
.add {
margin: 0;
padding: 0;
outline: none;    
border: 1px solid transparent;  
background-color: aliceblue;
color: black
}