.todolist {
    width: 600px;
    margin: 0 auto;
    background-color: bisque;
    margin-top: 50px; 
}

.liStyle {
    list-style: none;
    margin-top:5px ;
    color: azure;
    background-color: coral;

}
.all {
    background-color:  CornflowerBlue
}
.did {
    background-color: LimeGreen;
}
.doing {
    background-color: DarkOrange;
}

.delBtn {
    margin:5px  0;
    padding: 5px;
    border: 1px solid transparent; 
    background-color: brown;
    color: aliceblue;
}
.btn {
    margin: 0;
    padding: 3px;
    outline: none;    
    margin-left: 5px;
    border-radius: 10px;
    color: aliceblue;

}
.pStyle {
    background-color: khaki;
    width: 100px;
    margin: 0 auto;
    margin-top: 5px;
    
}
.spanStyle {
    margin: 0 10px;
    color: #fff;
}